<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.cameraximpl">

    <application>

        <activity android:name=".CameraXActivity"
                  android:launchMode="singleTop">
            <intent-filter>
                <action android:name="START_CAMERA_X"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

    </application>

</manifest>